<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link  rel="stylesheet" type="text/css" href="styles/appStyle.css" />
</head>
<body>
<div ng-app="app">
    <div ng-controller="Files as vm">
        <div class="panel panel-default">
            <div class="top-panel">Test</div>
        </div>
        <div>
            <div class="right-inner-addon">
                <i class="icon-search"></i>
                <input type="search"
                       class="form-control"
                       placeholder="Search"
                        ng-model="vm.search"/>
            </div>
        </div>
        <table>
            <thead>
            <tr>
                <th class="folder">Folder</th>
                <th class="folderButton"></th>
                <th class="fType"><a ng-click="vm.changeSorting('type')">File Type
                    <div class="arrow-wrapper">
                        <div ng-class="vm.selectedCls('type')"></div>
                    </div>
                </a>
                </th>
                <th class="fName"><a ng-click="vm.changeSorting('name')">File Name
                    <div class="arrow-wrapper">
                        <div ng-class="vm.selectedCls('name')"></div>
                    </div>
                </a></th>
                <th class="fDateAdded"><a ng-click="vm.changeSorting('added')">Date Added
                    <div class="arrow-wrapper">
                        <div ng-class="vm.selectedCls('added')"></div>
                    </div>
                </a></th>
            </tr>
            </thead>
        </table>
        <table ng-repeat="f in vm.PagedGrid =(  vm.filesData | orderBy:vm.sort.column:vm.sort.descending | filter : vm.search) | filter : vm.paginateItems">
            <tr ng-if="f.type == 'folder'">
                <th style="width: 100%;">
                    <div type="button" class="panel panel-heading" style="width: 100%;" ng-click="vm.onChangePanel(f)">
                        {{f.name}}
                    </div>
                </th>
            </tr>
            </thead>
            <tbody>
            <tr ng-if="f.type == 'folder'">
                <td colspan="5" ng-show="f.panelOpen">
                    <table ng-repeat="fileInFloder in f.files">
                        <tbody>
                        <tr ng-if="fileInFloder.type !== 'folder'" >
                            <td class="folder"></td>
                            <td class="folderButton"></td>
                            <td class="fType">{{fileInFloder.type}}</td>
                            <td class="fName">{{fileInFloder.name}}</td>
                            <td class="fDateAdded">{{fileInFloder.added | date : "d MMMM yyyy"}}</td>
                        </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            <tr>
                <td colspan="5">
                    <table >
                        <tbody>

                        <tr ng-if="f.type !== 'folder'" >
                            <td class="folder"></td>
                            <td class="folderButton"></td>
                            <td class="fType">{{f.type}}</td>
                            <td class="fName">{{f.name}}</td>
                            <td class="fDateAdded">{{f.added | date : "d MMMM yyyy"}}</td>
                        </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            </tbody>
        </table>
        <div class="grid-footer" ng-show="vm.filesData.length">
            <div class="grid-size">
                <label>Grid Size:</label>
                <select style="width: 100px;" ng-model="vm.viewSize">
                    <option value="5">5</option>
                    <option value="10">10</option>
                    <option value="15">15</option>
                    <option value="25">25</option>
                    <option value="50">50</option>
                    <option value="75">75</option>
                    <option value="100">100</option>
                </select>
            </div>
            <span class="pager">
                <span style="float: right; margin-right: 10px;">
                <button href="#" ng-disabled="vm.disablePage('first')" ng-click="vm.pagerClick('first', vm.currentPage, vm.viewSize)">&lt;&lt;First</button>
                <button href="#" ng-disabled="vm.disablePage('prev' )" ng-click="vm.pagerClick('prev' , vm.currentPage, vm.viewSize)">&lt;Previous</button>
                <button href="#" ng-disabled="vm.disablePage('next' )" ng-click="vm.pagerClick('next' , vm.currentPage, vm.viewSize)">&gt;Next</button>
                <button href="#" ng-disabled="vm.disablePage('last' )" ng-click="vm.pagerClick('last' , vm.currentPage, vm.viewSize)">&gt;&gt;Last</button>
                </span>
            <div style="clear: both;">
            </div>
        </span>
    </div>
</div></div>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script src="app/app.js"></script>
<script src="app/controllers/dataFiles.js"></script>
<script src="app/services/dataService.js"></script>
</html>

