table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: 1px solid #ddd;
}

th, td {
    text-align: left;
    padding: 8px;
}
.fType{
    width: 15%;
}
.fDateAdded{
    width: 20%;
}
.fName{
    width: 40%;
}
.folder{
    width: 20%;
}
.folderButton{
    width: 5%;
}

tr:nth-child(even){background-color: #f2f2f2}

.top-panel {
    font-size: -webkit-xxx-large;
    font-style: oblique;
}
.arrow-wrapper {
    display: inline-block;
    margin-left: 3px;
}

.down-arrow {
    vertical-align: middle;
    border-color: black transparent;
    border-style: solid;
    border-width: 5px 5px 0 5px;
    height: 0;
    width: 0;
}

.up-arrow {
    vertical-align: middle;
    border-color: black transparent;
    border-style: solid;
    border-width: 0 5px 5px 5px;
    height: 0;
    width: 0;
}

.grid-footer {
    -ms-border-radius: 5px;
    background: #E3E3E3;
    border: 1px solid #C8C8C8;
    border-radius: 5px;
    color: #5f6062;
    margin: 2px;
    margin-bottom: 5px;
}

.grid-footer div.pager {
    padding: 1px !important;
}

.grid-size {
    float: left;
    padding-left: 10px;
    padding-top: 1px;
}

/* Pager */

.pager {
    clear: none;
    margin-top: 16px;
}

.right-inner-addon {
    position: relative;
    padding-left: 10px;
    padding-right: 10px;
}
.right-inner-addon input {
    padding-right: 30px;
}
.right-inner-addon i {
    position: absolute;
    right: 0px;
    padding: 10px 12px;
    pointer-events: none;
}
